# Preparación de los Datos
## Curso Ingeniería Masiva de Datos
## TecMilenio

- Objetivo:
   
    - Mostrar lo que se hace cuando se prepara a los datos
    - En proyectos reales entre el 50% y 80% del tiempo se emplea en tareas de preparación de los datos para empezar a modelar
    
  
- Librerías de Python usadas:
    - pandas
    - Matplotlib
    - Numpy
   

Dataset para el ejemplo tomado de : https://archive.ics.uci.edu/ml/datasets/Adult

1. Limpieza de Datos
    1. Manejo de diferentes tipos de datos
    2. Manejo de datos faltantes
2. Exploración de los Datos
    1. Descripción de los datos
    2. Gráficas de las distribuciones de los Datos
    3. Detección de valores atípicos
3. Creando los Datos para hacer el Modelo
    1. Relaciones entre variables
    2. Selección de variables

## Modelo

Un modelo que dados los atributos sobre una persona haga una predicción para saber s si su ingreso es <= 50K o> 50K

## Datos

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.represents final weight, which is the number of units in the target population that the responding unit represents
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.7

In [ ]:
# Importando librerías y datos
import numpy as np
import pandas as pd

df = pd.read_csv('adult.csv',na_values=['#NAME?'])

In [ ]:
print(df.head(5))

    age         workclass    fnlwgt  education  education_num  \
0  39.0         State-gov   77516.0  Bachelors           13.0
1  50.0  Self-emp-not-inc   83311.0  Bachelors           13.0
2  38.0           Private  215646.0    HS-grad            9.0
3  53.0           Private  234721.0       11th            7.0
4  28.0           Private  338409.0  Bachelors           13.0

       marital_status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black     NaN
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital_gain  capital_loss  hours_per_week native_country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [ ]:
df.shape

(5000, 15)

In [ ]:
df.dtypes

age               float64
workclass          object
fnlwgt            float64
education          object
education_num     float64
marital_status     object
occupation         object
relationship       object
race               object
sex                object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
income             object
dtype: object

In [ ]:
type(df['education'][0])

str

In [ ]:
# Ver la variable 'income' el tipo y cuantos hay de cada tipo
print(df['income'].value_counts())

<=50K    3779
>50K     1221
Name: income, dtype: int64

In [ ]:
# Asignar el valor de 0 Si income <=50K y de 1 Si 1 income >50K
df['income'] = [0 if x == '<=50K' else 1 for x in df['income']]

# Crear dos DataFrames X con variables indpendientes o features y uno y con variable dependiente , la que vamos a predecir
X = df.drop('income', 1)
y = df.income

<ipython-input-93-752a86f16f8c>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df.drop('income', 1)

In [ ]:
print(X.head(5))

    age         workclass    fnlwgt  education  education_num  \
0  39.0         State-gov   77516.0  Bachelors           13.0
1  50.0  Self-emp-not-inc   83311.0  Bachelors           13.0
2  38.0           Private  215646.0    HS-grad            9.0
3  53.0           Private  234721.0       11th            7.0
4  28.0           Private  338409.0  Bachelors           13.0

       marital_status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black     NaN
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital_gain  capital_loss  hours_per_week native_country
0          2174             0              40  United-States
1             0             0              13  United-States
2             0             0              40  United-States
3             0             0              40  United-States
4             0             0              40           Cuba

In [ ]:
print(y.head(5))

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int64

## 1. Limpieza de Datos

### A. Manejo de diferentes tipos de datos

- Hay tres tipos principales de datos:
    - Cuantitativo, Numérico: ingreso, edad
    - Cualitativo, Categórico:  género, nacionalidad
    - Cualitativo, Categórico Ordinal: bajo medio alto
    
- Los modelos sólo pueden manejar variables cuantitativas numéricas
- Se deben convertir las variables cualitativas ó categóricas en variables numéricas
    - Crear variables extra
    - Transformar una variable cualitativa o categórica en un conjunto de variables extra, cada una representando una categoría única
    - En el conjunto de variables extra, 1 indica que la observación pertenece a esa categoría

In [ ]:
# Education es una variable cualitativa
print(X['education'].head(20))

0        Bachelors
1        Bachelors
2          HS-grad
3             11th
4        Bachelors
5          Masters
6              9th
7          HS-grad
8          Masters
9        Bachelors
10    Some-college
11       Bachelors
12       Bachelors
13      Assoc-acdm
14       Assoc-voc
15         7th-8th
16         HS-grad
17         HS-grad
18            11th
19         Masters
Name: education, dtype: object

In [ ]:
# Ver las caterorías de las variables categoricas o cualitativas

for col_name in X.columns:
    if X[col_name].dtypes == 'object':
        unique_cat = len(X[col_name].unique())
        print('Variable ''{col_name} tiene {unique_cat} categorías'.format(col_name=col_name, unique_cat=unique_cat))

Variable workclass tiene 8 categorías
Variable education tiene 17 categorías
Variable marital_status tiene 7 categorías
Variable occupation tiene 15 categorías
Variable relationship tiene 6 categorías
Variable race tiene 6 categorías
Variable sex tiene 3 categorías
Variable native_country tiene 40 categorías

In [ ]:
# Use get_dummies de pandas para crear las variables dummies extra para representar a las variable cualitativa como numéricas
# Otra opción es usar  OneHotEncoder de la librería:  sci-kit learn
print(pd.get_dummies(X['education']).head(5))

   10th  11th  12th  1st-4th  5th-6th  7th-8th  9th  ?  Assoc-acdm  Assoc-voc  \
0     0     0     0        0        0        0    0  0           0          0
1     0     0     0        0        0        0    0  0           0          0
2     0     0     0        0        0        0    0  0           0          0
3     0     1     0        0        0        0    0  0           0          0
4     0     0     0        0        0        0    0  0           0          0

   Bachelors  Doctorate  HS-grad  Masters  Preschool  Prof-school  \
0          1          0        0        0          0            0
1          1          0        0        0          0            0
2          0          0        1        0          0            0
3          0          0        0        0          0            0
4          1          0        0        0          0            0

   Some-college
0             0
1             0
2             0
3             0
4             0

In [ ]:
print(X['education'].value_counts().sort_values(ascending=False).head(10))

HS-grad         1597
Some-college    1114
Bachelors        819
Masters          251
Assoc-voc        215
11th             198
Assoc-acdm       163
10th             144
7th-8th           98
Prof-school       88
Name: education, dtype: int64

In [ ]:
print(X['marital_status'].value_counts().sort_values(ascending=False).head(10))

Married-civ-spouse       2270
Never-married            1659
Divorced                  682
Widowed                   160
Separated                 158
Married-spouse-absent      66
Married-AF-spouse           5
Name: marital_status, dtype: int64

In [ ]:
print(X['relationship'].value_counts().sort_values(ascending=False).head(10))

Husband           2001
Not-in-family     1292
Own-child          770
Unmarried          544
Wife               245
Other-relative     148
Name: relationship, dtype: int64

In [ ]:
# Para ver las categorías de 'native_country' y vemos que es dominante la de Unites States
print(X['native_country'].value_counts().sort_values(ascending=False).head(10))

United-States    4465
Mexico            104
?                  97
Canada             28
Philippines        22
Germany            22
El-Salvador        16
Puerto-Rico        16
England            16
China              15
Name: native_country, dtype: int64

In [ ]:
# Podemos hacer que la baja frecuencia de las otras queden clasificadas como "Other"
X['native_country'] = ['United-States ' if x == 'United-States' else 'Other' for x in X['native_country']]

print(X['native_country'].value_counts().sort_values(ascending=False))

United-States     4465
Other              535
Name: native_country, dtype: int64

In [ ]:
# Crear toda la lista de variables categóricas para transformarlas a numéricas
todummy_list = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country']

In [ ]:
# Función para llamar get dummies c
def dummy_df(df, todummy_list):
    for x in todummy_list:
        dummies = pd.get_dummies(df[x], prefix=x, dummy_na=False)
        df = df.drop(x, 1)
        df = pd.concat([df, dummies], axis=1)
    return df

In [ ]:
X = dummy_df(X, todummy_list)
print(X.head(5))

    age    fnlwgt  education_num  capital_gain  capital_loss  hours_per_week  \
0  39.0   77516.0           13.0          2174             0              40
1  50.0   83311.0           13.0             0             0              13
2  38.0  215646.0            9.0             0             0              40
3  53.0  234721.0            7.0             0             0              40
4  28.0  338409.0           13.0             0             0              40

   workclass_?  workclass_Federal-gov  workclass_Local-gov  workclass_Private  \
0            0                      0                    0                  0
1            0                      0                    0                  0
2            0                      0                    0                  1
3            0                      0                    0                  1
4            0                      0                    0                  1

   ...  relationship_Wife  race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  \
0  ...                  0                        0                        0
1  ...                  0                        0                        0
2  ...                  0                        0                        0
3  ...                  0                        0                        0
4  ...                  1                        0                        0

   race_Black  race_Other  race_White  sex_Female  sex_Male  \
0           0           0           1           0         1
1           0           0           1           0         1
2           0           0           1           0         1
3           1           0           0           0         0
4           1           0           0           1         0

   native_country_Other  native_country_United-States
0                     0                              1
1                     0                              1
2                     0                              1
3                     0                              1
4                     1                              0

[5 rows x 68 columns]

<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)
<ipython-input-105-99b5fe6a7de0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(x, 1)

### B. Manejo de datos faltantes

- Los modelos no pueden manejar datos faltantes


- La solución más simple
    - Eliminar observaciones / características que tienen datos faltantes
    

- Pero, eliminar datos faltantes puede presentar muchos problemas
    - Datos faltantes están distribuidos al azar y son muchos : posiblemente pierda muchos de sus datos
    - Datos faltantes no están distribuidos al azar y son muchos : además de perder datos, también está introduciendo posibles sesgos


- Una solución alternativa es utilizar la imputación.
    - Reemplace el valor faltante con otro valor
    - Estrategias: media, mediana, valor de frecuencia más alta de una variable dada

In [ ]:
# Cuantos son datos faltantes?
X.isnull().sum().sort_values(ascending=False).head()

fnlwgt                  107
education_num            57
age                      48
native_country_Other      0
sex_Male                  0
dtype: int64

In [ ]:
#!pip install scikit-learn==0.20.4

In [ ]:
# Para Imputar / Reemplazar los valores faltantes se usa Imputer de sklearn.preprocessing
from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(X)
X = pd.DataFrame(data=imp.transform(X) , columns=X.columns)

In [ ]:
print(X)

       age    fnlwgt  education_num  capital_gain  capital_loss  \
0     39.0   77516.0           13.0        2174.0           0.0
1     50.0   83311.0           13.0           0.0           0.0
2     38.0  215646.0            9.0           0.0           0.0
3     53.0  234721.0            7.0           0.0           0.0
4     28.0  338409.0           13.0           0.0           0.0
...    ...       ...            ...           ...           ...
4995  43.0  222971.0            3.0           0.0           0.0
4996  31.0  259425.0            9.0           0.0           0.0
4997  47.0  212120.0            9.0           0.0           0.0
4998  37.0  245880.0            9.0           0.0           0.0
4999  58.0   54947.0           10.0           0.0           0.0

      hours_per_week  workclass_?  workclass_Federal-gov  workclass_Local-gov  \
0               40.0          0.0                    0.0                  0.0
1               13.0          0.0                    0.0                  0.0
2               40.0          0.0                    0.0                  0.0
3               40.0          0.0                    0.0                  0.0
4               40.0          0.0                    0.0                  0.0
...              ...          ...                    ...                  ...
4995            40.0          0.0                    0.0                  0.0
4996            40.0          0.0                    0.0                  0.0
4997            40.0          0.0                    0.0                  0.0
4998            60.0          0.0                    0.0                  0.0
4999            55.0          0.0                    0.0                  1.0

      workclass_Private  ...  relationship_Wife  race_Amer-Indian-Eskimo  \
0                   0.0  ...                0.0                      0.0
1                   0.0  ...                0.0                      0.0
2                   1.0  ...                0.0                      0.0
3                   1.0  ...                0.0                      0.0
4                   1.0  ...                1.0                      0.0
...                 ...  ...                ...                      ...
4995                1.0  ...                0.0                      0.0
4996                1.0  ...                0.0                      0.0
4997                0.0  ...                0.0                      0.0
4998                1.0  ...                0.0                      0.0
4999                0.0  ...                0.0                      0.0

      race_Asian-Pac-Islander  race_Black  race_Other  race_White  sex_Female  \
0                         0.0         0.0         0.0         1.0         0.0
1                         0.0         0.0         0.0         1.0         0.0
2                         0.0         0.0         0.0         1.0         0.0
3                         0.0         1.0         0.0         0.0         0.0
4                         0.0         1.0         0.0         0.0         1.0
...                       ...         ...         ...         ...         ...
4995                      0.0         0.0         0.0         1.0         1.0
4996                      0.0         0.0         0.0         1.0         0.0
4997                      0.0         0.0         0.0         1.0         0.0
4998                      0.0         0.0         0.0         1.0         0.0
4999                      0.0         0.0         0.0         1.0         1.0

      sex_Male  native_country_Other  native_country_United-States
0          1.0                   0.0                            1.0
1          1.0                   0.0                            1.0
2          1.0                   0.0                            1.0
3          0.0                   0.0                            1.0
4          0.0                   1.0                            0.0
...        ...                   ...                            ...
4995       0.0                   1.0                            0.0
4996       1.0                   0.0                            1.0
4997       1.0                   0.0                            1.0
4998       1.0                   0.0                            1.0
4999       0.0                   0.0                            1.0

[5000 rows x 68 columns]

In [ ]:
#Ahora volvemos a verificar como los nulos se han reemplazado con un valor
X.isnull().sum().sort_values(ascending=False).head()

age                           0
occupation_Farming-fishing    0
occupation_Protective-serv    0
occupation_Prof-specialty     0
occupation_Priv-house-serv    0
dtype: int64

## 2. Exploration de los Datos
- Entender el problema y los datos es extremadamente importante para construir modelos
- Se hace lo que se conoce como Análisis Exploratorio de los Datos para explorar sus datos entenderlos y tomar mejores decisiones al modelar

### A.Descripción de los Datos

In [ ]:
X.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,native_country_Other,native_country_United-States
count,5000.000000,5.000000e+03,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,38.571200,1.907303e+05,10.079400,1033.640200,93.696800,40.519000,0.066200,0.029200,0.065800,0.687000,...,0.04900,0.009600,0.029000,0.098600,0.005800,0.804200,0.324200,0.666400,0.107000,0.893000
std,13.517776,1.054410e+05,2.520787,7051.802077,410.801418,12.109193,0.248656,0.168384,0.247957,0.463761,...,0.21589,0.097518,0.167823,0.298154,0.075944,0.396855,0.468122,0.471546,0.309144,0.309144
min,17.000000,1.930200e+04,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,1.186872e+05,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
50%,37.000000,1.795330e+05,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,1.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,47.000000,2.401560e+05,12.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,1.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,90.000000,1.033222e+06,16.000000,99999.000000,2547.000000,99.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### B.Gráficas de las distribuciones de los Datos

In [ ]:
# Use pyplot de matplotlib para hacer histograms
%matplotlib inline
import matplotlib.pyplot as plt

def plot_histogram(x):
    plt.hist(x, color='gray', alpha=0.5)
    plt.title('Histogram of ''{var_name}'.format(var_name=x.name))
    plt.xlabel('Value')
    plt.ylabel('Frecuency')
    plt.show()

In [ ]:
#plot_histogram(X['age'])

In [ ]:
#for col_name in X.columns:
#    plot_histogram(X[col_name])

### C. Detección de valores atípicos

- Un valor atípico es una observación que se desvía drásticamente de otras observaciones en un conjunto de datos


- Ocurrencia:
    - Natural, por ejemplo Ingresos de Millonarios
    - Error, por ejemplo peso humano de 5,00 kg. debido al error de escritura adicional 0

- ¿Por qué son problemáticos?
    - Si ocurren naturalmente
        - No necesariamente problemático
        - Pero pueden sesgar su modelo
    - Error
        - Indicativo de problemas de calidad de datos.
        - Tratar de la misma manera como un valor faltante, es decir, usar la imputación
   
   
- ¿Cómo se detectan?
    - Visualizaciones Box Plot

 ### Detección de valores atípicos - Usando Box Plots
- Identifica valores extremos en los datos.
- Los valores atípicos se definen como:
    - Valores inferiores a Q1-1.5 (Q3-Q1) o superiores a Q3 + 1.5 (Q3-Q1)

In [ ]:
def find_outliers_tukey(x):
    q1 = np.percentile(x, 25)
    q3 = np.percentile(x, 75)
    iqr = q3-q1
    floor = q1 - 1.5*iqr
    ceiling = q3 + 1.5*iqr
    outlier_indices = list(x.index[(x < floor)|(x > ceiling)])
    outlier_values = list(x[outlier_indices])

    return outlier_indices, outlier_values

In [ ]:
tukey_indices, tukey_values = find_outliers_tukey(X['age'])
print(np.sort(tukey_values))

[76. 76. 76. 76. 76. 76. 76. 76. 76. 77. 77. 77. 77. 77. 78. 78. 79. 79.
 79. 80. 80. 80. 81. 81. 81. 81. 82. 88. 90. 90. 90. 90. 90. 90. 90.]

## 3. Creando los Datos para hacer el Modelo

### A. Relaciones entre variables

- La variables independientes pueden estar correlacionadas y en ocasiones hay modelos como las regersiones que no permiten isar variables correlacionadas porque se afecta el resultado.

- Fecha de Nacimiento y Edad tienen una relación entre ellas y hay que decidir cual usar.
- No siempre es evidente esta relación entre las variables

In [ ]:
# Puedes analizar una matriz de correlaciones de todas las variables
X.corr()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,native_country_Other,native_country_United-States
age,1.000000,-0.080116,0.018769,0.064296,0.056885,0.040538,0.006840,0.049796,0.056642,-0.177769,...,0.032632,-0.013721,-0.029348,-0.001618,-0.033626,0.026744,-0.073938,0.069944,-0.032005,0.032005
fnlwgt,-0.080116,1.000000,-0.058249,-0.000142,-0.004304,-0.006364,-0.003647,0.005205,-0.007592,0.034287,...,-0.024594,-0.072032,-0.054709,0.112766,-0.007250,-0.036127,-0.034949,0.025109,0.080540,-0.080540
education_num,0.018769,-0.058249,1.000000,0.113470,0.096638,0.165958,-0.088811,0.045435,0.068769,-0.097491,...,0.030342,-0.042162,0.074469,-0.082814,-0.054652,0.058536,-0.021819,0.023803,-0.072511,0.072511
capital_gain,0.064296,-0.000142,0.113470,1.000000,-0.033439,0.071881,-0.024709,-0.009880,-0.015945,-0.034812,...,0.027416,-0.007988,0.018937,-0.027529,-0.011197,0.020249,-0.043610,0.044387,0.012697,-0.012697
capital_loss,0.056885,-0.004304,0.096638,-0.033439,1.000000,0.079426,-0.033428,0.011473,0.034958,-0.018600,...,0.032977,-0.022458,0.013884,-0.035910,0.020716,0.021822,-0.062023,0.062702,0.002818,-0.002818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
race_White,0.026744,-0.036127,0.058536,0.020249,0.021822,0.064192,-0.034847,-0.064101,-0.027610,0.007144,...,-0.009407,-0.199529,-0.350239,-0.670279,-0.154794,1.000000,-0.088951,0.090226,-0.134105,0.134105
sex_Female,-0.073938,-0.034949,-0.021819,-0.043610,-0.062023,-0.229214,0.066490,0.001692,0.047114,0.030751,...,0.323767,0.019449,0.012708,0.093403,0.008993,-0.088951,1.000000,-0.978931,-0.010294,0.010294
sex_Male,0.069944,0.025109,0.023803,0.044387,0.062702,0.229000,-0.064111,-0.003261,-0.044903,-0.030263,...,-0.318856,-0.017345,-0.009171,-0.097514,-0.012991,0.090226,-0.978931,1.000000,0.010259,-0.010259
native_country_Other,-0.032005,0.080540,-0.072511,0.012697,0.002818,0.011881,-0.016699,-0.010076,-0.039674,0.042493,...,0.017339,-0.007538,0.337316,-0.016822,0.084327,-0.134105,-0.010294,0.010259,1.000000,-1.000000
native_country_United-States,0.032005,-0.080540,0.072511,-0.012697,-0.002818,-0.011881,0.016699,0.010076,0.039674,-0.042493,...,-0.017339,0.007538,-0.337316,0.016822,-0.084327,0.134105,0.010294,-0.010259,-1.000000,1.000000

### B. Selección de Variables

In [ ]:
# Al agregar variable dummies por variables categóricas se incrementó el número de variables
print(df.shape)
print(X.shape)

(5000, 15)
(5000, 68)

In [ ]:
# Usar train_test_split in sklearn.cross_validation para partir los datos en dos set de enternamiento y de testeo
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.70, random_state=1)

In [ ]:
# Usar el  método feature selection para seleccionar las varuables más significativas
# from sklearn.feature_selection import RFE, chi2
# from sklearn.svm import SVR

# estimator = SVR(kernel="linear")
# select = RFE(estimator,n_features_to_select=20)
# selected_features = select.fit(X_train, y_train)
# indices_selected = selected_features.get_support(indices=True)
# colnames_selected = [X.columns[i] for i in indices_selected]

# X_train_selected = X_train[colnames_selected]
# X_test_selected = X_test[colnames_selected]

In [ ]:
X_train

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,native_country_Other,native_country_United-States
1334,51.0,146767.0,11.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4768,40.0,298635.0,14.0,0.0,1902.0,40.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
65,36.0,155537.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
177,34.0,483777.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4489,28.0,191027.0,12.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,45.0,348854.0,10.0,0.0,0.0,27.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2763,24.0,306515.0,9.0,0.0,0.0,40.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
905,46.0,171550.0,9.0,0.0,0.0,38.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3980,55.0,106707.0,12.0,0.0,0.0,20.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
235,59.0,268700.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0

In [ ]:
y_train

1334    1
4768    1
65      0
177     0
4489    0
       ..
2895    0
2763    0
905     0
3980    1
235     0
Name: income, Length: 3500, dtype: int64

In [ ]:
# Usar el  método feature selection para seleccionar las variables más significativas
from sklearn.feature_selection import SelectKBest, chi2

select = SelectKBest(chi2,k=20)
selected_features = select.fit(X_train, y_train)
indices_selected = selected_features.get_support(indices=True)
colnames_selected = [X.columns[i] for i in indices_selected]

X_train_selected = X_train[colnames_selected]
X_test_selected = X_test[colnames_selected]

In [ ]:
print(colnames_selected)

['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week', 'workclass_Self-emp-inc', 'education_Bachelors', 'education_Masters', 'marital_status_Married-civ-spouse', 'marital_status_Never-married', 'occupation_Exec-managerial', 'occupation_Other-service', 'occupation_Prof-specialty', 'relationship_Husband', 'relationship_Not-in-family', 'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife', 'sex_Female']

In [ ]:
print(len(colnames_selected))

20

In [ ]:
print(len(X_train_selected.columns))

20

In [ ]:
print(len(X_test_selected.columns))

20

In [ ]:
X_train_selected

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_Self-emp-inc,education_Bachelors,education_Masters,marital_status_Married-civ-spouse,marital_status_Never-married,occupation_Exec-managerial,occupation_Other-service,occupation_Prof-specialty,relationship_Husband,relationship_Not-in-family,relationship_Own-child,relationship_Unmarried,relationship_Wife,sex_Female
1334,51.0,146767.0,11.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4768,40.0,298635.0,14.0,0.0,1902.0,40.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
65,36.0,155537.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
177,34.0,483777.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4489,28.0,191027.0,12.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,45.0,348854.0,10.0,0.0,0.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2763,24.0,306515.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
905,46.0,171550.0,9.0,0.0,0.0,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3980,55.0,106707.0,12.0,0.0,0.0,20.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
235,59.0,268700.0,9.0,0.0,0.0,40.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    1
4997    1
4998    0
4999    0
Name: income, Length: 5000, dtype: int64