Autor: Pablo Elías Ramírez Escalante

---


Fecha: 20/abril/2023

In [1]:
%%capture
!pip install rpy2==3.5.1

In [2]:
%load_ext rpy2.ipython

In [3]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [4]:
%%R
library(readr)
library(magrittr)
library(dplyr)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
Attaching package: ‘dplyr’


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
%%R
data <- read.csv("drive/MyDrive/student-mat.csv")

In [6]:
%%R
length(rownames(data))

[1] 395

In [7]:
%%R
length(colnames(data))

[1] 33

In [8]:
%%R
colnames(data)

 [1] "school"     "sex"        "age"        "address"    "famsize"
 [6] "Pstatus"    "Medu"       "Fedu"       "Mjob"       "Fjob"
[11] "reason"     "guardian"   "traveltime" "studytime"  "failures"
[16] "schoolsup"  "famsup"     "paid"       "activities" "nursery"
[21] "higher"     "internet"   "romantic"   "famrel"     "freetime"
[26] "goout"      "Dalc"       "Walc"       "health"     "absences"
[31] "G1"         "G2"         "G3"

0. Visializacion previa de datos

In [9]:
%%R
data %>%
select(1:10, freetime) %>%
head(n=10)

   school sex age address famsize Pstatus Medu Fedu     Mjob     Fjob freetime
1      GP   F  18       U     GT3       A    4    4  at_home  teacher        3
2      GP   F  17       U     GT3       T    1    1  at_home    other        3
3      GP   F  15       U     LE3       T    1    1  at_home    other        3
4      GP   F  15       U     GT3       T    4    2   health services        2
5      GP   F  16       U     GT3       T    3    3    other    other        3
6      GP   M  16       U     LE3       T    4    3 services    other        4
7      GP   M  16       U     LE3       T    2    2    other    other        4
8      GP   F  17       U     GT3       A    4    4    other  teacher        1
9      GP   M  15       U     LE3       A    3    2 services    other        2
10     GP   M  15       U     GT3       T    3    4    other    other        5

**1. Alumnos que salen de casa regularmente (>=3) y toman regularmente los fines de semana**

In [20]:
%%R
data %>%
filter(goout >= 3 & Walc >= 3) %>%
select(1:9, goout, Walc) %>%
head(n=50)

   school sex age address famsize Pstatus Medu Fedu     Mjob goout Walc
1      GP   M  15       U     LE3       T    4    4   health     3    3
2      GP   M  17       U     GT3       T    3    2 services     5    4
3      GP   M  16       U     LE3       T    4    3   health     3    3
4      GP   M  16       U     LE3       T    2    2    other     4    4
5      GP   M  15       U     GT3       T    4    2   health     4    4
6      GP   M  16       U     GT3       T    4    4  teacher     5    5
7      GP   M  15       U     LE3       T    4    4  teacher     3    4
8      GP   F  16       U     LE3       A    3    3    other     5    4
9      GP   F  16       U     LE3       T    2    2 services     3    3
10     GP   M  15       U     LE3       A    4    2   health     5    4
11     GP   F  15       U     GT3       T    4    4 services     4    3
12     GP   F  15       U     LE3       A    3    3    other     4    4
13     GP   F  16       R     GT3       T    4    4   health     4    3
14     GP   F  16       U     GT3       T    1    1 services     5    5
15     GP   F  16       U     GT3       T    4    3  teacher     4    4
16     GP   F  15       U     LE3       T    4    3 services     4    4
17     GP   M  15       U     GT3       A    4    4    other     3    5
18     GP   F  15       R     LE3       T    2    2   health     3    3
19     GP   F  15       R     GT3       T    1    1    other     4    4
20     GP   F  16       U     GT3       T    3    3    other     3    4
21     GP   M  15       U     GT3       T    4    3  teacher     3    3
22     GP   F  16       U     GT3       T    2    2    other     3    3
23     GP   M  15       U     LE3       T    2    2 services     3    3
24     GP   F  15       U     GT3       T    4    4 services     4    3
25     GP   F  15       U     GT3       T    4    2    other     3    3
26     GP   M  16       U     LE3       A    4    4  teacher     3    5
27     GP   F  16       U     GT3       T    3    3    other     3    3
28     GP   F  15       U     GT3       T    4    3 services     5    3
29     GP   F  16       U     LE3       T    3    1    other     3    3
30     GP   M  16       U     GT3       T    4    4 services     5    5
31     GP   M  15       R     GT3       T    4    4    other     5    5
32     GP   M  17       R     GT3       T    1    3    other     4    4
33     GP   M  16       U     GT3       T    4    4   health     4    4
34     GP   M  16       R     GT3       T    4    4  teacher     5    5
35     GP   F  17       U     LE3       T    2    2    other     4    3
36     GP   M  17       R     GT3       T    3    4  at_home     5    4
37     GP   M  16       U     LE3       T    1    1 services     4    3
38     GP   F  16       U     LE3       T    1    1  at_home     4    3
39     GP   M  15       U     LE3       A    2    1 services     5    5
40     GP   M  18       U     LE3       T    1    1    other     5    5
41     GP   M  16       U     LE3       T    2    1  at_home     4    5
42     GP   F  18       R     GT3       T    1    1  at_home     5    5
43     GP   M  16       U     GT3       T    3    3    other     5    4
44     GP   M  15       R     GT3       T    3    2    other     4    4
45     GP   M  16       U     LE3       T    1    2    other     4    4
46     GP   M  17       U     GT3       T    1    3  at_home     3    4
47     GP   M  17       R     LE3       T    1    1    other     5    5
48     GP   M  16       U     GT3       T    2    2    other     5    4
49     GP   M  16       U     GT3       T    3    4    other     5    4
50     GP   M  17       U     LE3       T    4    4  teacher     4    3

**2. Alumnos que salen con amigos regularmente (>=3) y toman regularmente entre semana**

In [11]:
%%R
data %>%
filter(goout >= 3 & Dalc >= 3) %>%
select(1:9, goout, Dalc) %>%
head(n=100)

   school sex age address famsize Pstatus Medu Fedu     Mjob goout Dalc
1      GP   M  16       U     GT3       T    4    4  teacher     5    5
2      GP   M  15       U     LE3       A    4    2   health     5    3
3      GP   F  15       U     LE3       A    3    3    other     4    4
4      GP   F  16       U     GT3       T    1    1 services     5    5
5      GP   M  15       U     GT3       A    4    4    other     3    5
6      GP   M  16       U     LE3       A    4    4  teacher     3    3
7      GP   M  16       U     GT3       T    4    4 services     5    5
8      GP   M  15       R     GT3       T    4    4    other     5    3
9      GP   M  15       U     GT3       T    3    4 services     5    3
10     GP   F  16       U     LE3       T    1    1  at_home     4    3
11     GP   M  16       U     LE3       T    2    1  at_home     4    3
12     GP   M  16       U     GT3       T    3    3    other     5    4
13     GP   M  17       U     LE3       T    4    3  teacher     4    4
14     GP   M  16       R     GT3       T    4    2  teacher     3    3
15     GP   M  17       U     GT3       T    1    2  at_home     4    4
16     GP   M  16       R     LE3       T    3    3  teacher     4    3
17     GP   F  17       U     GT3       T    3    4  at_home     3    3
18     GP   M  17       U     LE3       T    4    4 services     5    4
19     GP   M  18       U     GT3       T    2    2    other     3    5
20     GP   M  18       U     GT3       T    2    2    other     4    3
21     GP   M  22       U     GT3       T    3    1 services     5    5
22     GP   M  18       R     LE3       A    3    4    other     5    3
23     GP   M  17       U     GT3       T    3    1 services     4    3
24     GP   F  19       U     GT3       T    3    3    other     5    3
25     GP   M  17       U     LE3       A    3    2  teacher     4    3
26     GP   F  18       U     GT3       T    4    4  teacher     4    3
27     GP   M  17       U     GT3       T    3    3    other     5    3
28     GP   M  17       R     GT3       T    2    2 services     5    5
29     MS   M  18       R     GT3       T    3    2    other     5    5
30     MS   M  19       R     GT3       T    1    1    other     4    3
31     MS   M  19       R     GT3       T    1    1    other     4    3
32     MS   F  18       R     LE3       T    4    4  teacher     3    3
33     MS   M  18       R     GT3       T    4    2    other     3    4
34     MS   M  20       U     LE3       A    2    2 services     4    4
35     MS   M  17       U     LE3       T    3    1 services     5    3
36     MS   M  21       R     GT3       T    1    1    other     3    3
37     MS   M  19       U     LE3       T    1    1    other     3    3

**3. Alumnos que salen con amigos y toman regularmente cualquier dia**

In [12]:
%%R
data %>%
filter(goout >= 3 & Dalc >= 3 | Walc >=3) %>%
select(1:9, goout, Dalc, Walc) %>%
head(n=50)

   school sex age address famsize Pstatus Medu Fedu     Mjob goout Dalc Walc
1      GP   F  15       U     LE3       T    1    1  at_home     2    2    3
2      GP   M  15       U     LE3       T    4    4   health     3    1    3
3      GP   M  17       U     GT3       T    3    2 services     5    2    4
4      GP   M  16       U     LE3       T    4    3   health     3    1    3
5      GP   M  16       U     LE3       T    4    2  teacher     1    1    3
6      GP   M  16       U     LE3       T    2    2    other     4    2    4
7      GP   F  16       U     GT3       T    2    2 services     2    1    3
8      GP   M  15       U     GT3       T    4    2   health     4    2    4
9      GP   M  16       U     GT3       T    4    4  teacher     5    5    5
10     GP   M  15       U     GT3       T    4    4   health     2    3    4
11     GP   M  15       U     LE3       T    4    4  teacher     3    2    4
12     GP   F  16       U     LE3       A    3    3    other     5    1    4
13     GP   F  16       U     LE3       T    2    2 services     3    2    3
14     GP   M  15       U     LE3       A    4    2   health     5    3    4
15     GP   F  15       U     GT3       T    4    4 services     4    2    3
16     GP   F  15       U     LE3       A    3    3    other     4    4    4
17     GP   F  16       R     GT3       T    4    4   health     4    2    3
18     GP   F  16       U     GT3       T    1    1 services     5    5    5
19     GP   F  16       U     GT3       T    4    3  teacher     4    2    4
20     GP   F  15       U     LE3       T    4    3 services     4    2    4
21     GP   M  15       U     GT3       A    4    4    other     3    5    5
22     GP   F  15       R     LE3       T    2    2   health     3    1    3
23     GP   F  15       R     LE3       T    3    1    other     2    2    3
24     GP   F  15       R     GT3       T    1    1    other     4    2    4
25     GP   F  16       U     GT3       T    3    3    other     3    2    4
26     GP   M  15       U     GT3       T    4    3  teacher     3    2    3
27     GP   F  16       U     GT3       T    2    2    other     3    1    3
28     GP   M  15       U     GT3       T    2    3    other     2    1    3
29     GP   M  15       U     LE3       T    2    2 services     3    1    3
30     GP   F  15       U     GT3       T    1    1    other     2    2    3
31     GP   F  15       U     GT3       T    4    4 services     4    2    3
32     GP   F  15       U     GT3       T    4    2    other     3    1    3
33     GP   M  16       U     LE3       A    4    4  teacher     3    3    5
34     GP   F  16       U     GT3       T    3    3    other     3    1    3
35     GP   F  15       U     GT3       T    4    3 services     5    1    3
36     GP   F  16       U     LE3       T    3    1    other     3    2    3
37     GP   M  16       U     GT3       T    4    4 services     5    5    5
38     GP   M  15       R     GT3       T    4    4    other     5    3    5
39     GP   M  17       R     GT3       T    1    3    other     4    1    4
40     GP   M  16       U     GT3       T    4    4   health     4    1    4
41     GP   M  15       U     GT3       T    3    4 services     5    3    2
42     GP   M  16       R     GT3       T    4    4  teacher     5    2    5
43     GP   F  17       U     LE3       T    2    2    other     4    1    3
44     GP   F  16       U     GT3       A    3    4 services     1    1    4
45     GP   M  17       R     GT3       T    3    4  at_home     5    2    4
46     GP   M  16       U     LE3       T    1    1 services     4    1    3
47     GP   F  16       U     LE3       T    1    1  at_home     4    3    3
48     GP   M  15       U     LE3       A    2    1 services     5    2    5
49     GP   M  18       U     LE3       T    1    1    other     5    2    5
50     GP   M  16       U     LE3       T    2    1  at_home     4    3    5

**4. ¿Los alumnos del ejercicio 1 son los mismos que los del ejercicio 2? ¿Por qué?**

### Se logran ver datos diferentes para ambos ejercicios y es por que para ambas columnas es decir que si salen a tomar en fin de semana o entre semana son columnas diferentes sin embargo, pueden existir personas que lleguen a tomar tanto en fin de semana como entre semana y eso se plasmaria en el ejercicio 3

In [22]:
%%R
data %>%
select(goout, Dalc, Walc) %>%
head(n=50)

   goout Dalc Walc
1      4    1    1
2      3    1    1
3      2    2    3
4      2    1    1
5      2    1    2
6      2    1    2
7      4    1    1
8      4    1    1
9      2    1    1
10     1    1    1
11     3    1    2
12     2    1    1
13     3    1    3
14     3    1    2
15     2    1    1
16     4    1    2
17     3    1    2
18     2    1    1
19     5    2    4
20     3    1    3
21     1    1    1
22     2    1    1
23     1    1    3
24     4    2    4
25     2    1    1
26     2    1    3
27     2    1    2
28     4    2    4
29     3    1    1
30     5    5    5
31     2    3    4
32     1    1    1
33     2    1    1
34     2    1    1
35     3    1    1
36     1    1    1
37     3    1    1
38     3    1    1
39     2    1    1
40     1    1    1
41     3    1    2
42     3    2    4
43     3    1    1
44     1    1    1
45     3    2    2
46     2    1    1
47     5    1    4
48     2    1    1
49     3    2    2
50     4    1    1

**5. Alumnos que no quieren continuar sus estudios pero sus padres si cuentan con un alto grado de estudio (>=3)**

In [13]:
%%R
data %>%
filter(higher == "no" & (Medu>=3 | Fedu>=3)) %>%
select(1:9, higher)

  school sex age address famsize Pstatus Medu Fedu     Mjob higher
1     GP   M  16       U     GT3       T    4    4  teacher     no
2     GP   M  19       U     GT3       T    3    2 services     no
3     GP   M  17       U     GT3       T    1    3  at_home     no
4     GP   M  16       U     GT3       T    3    2 services     no
5     GP   M  22       U     GT3       T    3    1 services     no
6     GP   M  18       U     GT3       T    3    2 services     no
7     GP   F  18       R     GT3       A    3    2    other     no
8     MS   M  18       U     LE3       T    1    3  at_home     no

**6. Alumnos que quieren continuar con sus estudios pero sus padres no cuentan con un alto grado de estudios (<=3)**

In [14]:
%%R
data %>%
filter(higher == "yes" & (Medu<=3 & Fedu<=3)) %>%
select(1:9, higher) %>%
head(n=50)

   school sex age address famsize Pstatus Medu Fedu     Mjob higher
1      GP   F  17       U     GT3       T    1    1  at_home    yes
2      GP   F  15       U     LE3       T    1    1  at_home    yes
3      GP   F  16       U     GT3       T    3    3    other    yes
4      GP   M  16       U     LE3       T    2    2    other    yes
5      GP   M  15       U     LE3       A    3    2 services    yes
6      GP   F  15       U     GT3       T    2    1 services    yes
7      GP   M  15       U     GT3       A    2    2    other    yes
8      GP   F  16       U     GT3       T    3    3    other    yes
9      GP   M  17       U     GT3       T    3    2 services    yes
10     GP   M  16       U     LE3       T    2    2    other    yes
11     GP   F  16       U     GT3       T    2    2 services    yes
12     GP   M  15       U     GT3       T    2    2    other    yes
13     GP   M  15       U     LE3       T    3    3    other    yes
14     GP   M  16       U     GT3       T    3    2    other    yes
15     GP   F  15       U     GT3       T    2    3    other    yes
16     GP   F  15       R     GT3       T    2    2  at_home    yes
17     GP   F  16       U     LE3       T    2    2    other    yes
18     GP   M  15       U     GT3       T    2    2 services    yes
19     GP   F  16       U     LE3       T    2    2    other    yes
20     GP   F  16       U     LE3       A    3    3    other    yes
21     GP   F  16       U     LE3       T    2    2 services    yes
22     GP   F  15       U     LE3       A    3    3    other    yes
23     GP   F  16       U     GT3       A    2    1    other    yes
24     GP   M  15       U     LE3       T    1    2    other    yes
25     GP   F  16       U     GT3       T    1    1 services    yes
26     GP   F  16       U     LE3       T    1    2    other    yes
27     GP   F  16       U     GT3       T    3    1 services    yes
28     GP   F  15       R     LE3       T    2    2   health    yes
29     GP   F  15       R     LE3       T    3    1    other    yes
30     GP   M  16       U     GT3       T    3    1    other    yes
31     GP   F  15       R     GT3       T    1    1    other    yes
32     GP   M  16       U     GT3       T    3    1    other    yes
33     GP   F  16       U     GT3       T    3    3    other    yes
34     GP   F  16       U     GT3       T    2    2    other    yes
35     GP   M  15       U     GT3       T    2    3    other    yes
36     GP   M  15       U     GT3       T    2    3    other    yes
37     GP   F  15       U     LE3       T    3    2 services    yes
38     GP   M  15       U     LE3       T    2    2 services    yes
39     GP   F  15       U     GT3       T    1    1    other    yes
40     GP   F  16       U     LE3       T    2    2  at_home    yes
41     GP   M  16       U     GT3       T    2    2 services    yes
42     GP   F  16       U     GT3       T    3    3    other    yes
43     GP   F  16       U     LE3       T    3    1    other    yes
44     GP   M  15       U     LE3       T    2    2 services    yes
45     GP   F  15       R     GT3       T    1    1  at_home    yes
46     GP   F  16       U     GT3       T    2    1    other    yes
47     GP   F  15       U     GT3       T    3    2 services    yes
48     GP   F  15       U     GT3       A    3    3    other    yes
49     GP   F  15       U     GT3       T    2    2    other    yes
50     GP   M  16       U     GT3       T    3    3 services    yes

**7. Alumnos provenientes de una zona rural que no cuentan con intenet en casa**

In [15]:
%%R
data %>%
filter(address == "R" & internet == "no") %>%
select(1:9, internet) %>%
head(n=50)

   school sex age address famsize Pstatus Medu Fedu     Mjob internet
1      GP   F  15       R     GT3       T    2    2  at_home       no
2      GP   F  16       R     GT3       T    4    4   health       no
3      GP   M  15       R     GT3       T    3    4  at_home       no
4      GP   M  17       R     GT3       T    3    4  at_home       no
5      GP   M  15       R     GT3       T    2    3  at_home       no
6      GP   M  17       R     LE3       T    1    2    other       no
7      GP   F  18       R     GT3       T    1    1  at_home       no
8      GP   M  16       R     GT3       T    2    2  at_home       no
9      GP   M  17       R     LE3       T    1    1    other       no
10     GP   M  17       R     GT3       T    1    2  at_home       no
11     GP   F  17       R     LE3       T    4    4 services       no
12     GP   F  17       R     GT3       T    2    1  at_home       no
13     GP   M  16       R     GT3       T    2    1    other       no
14     GP   M  18       R     GT3       T    3    2    other       no
15     GP   M  17       R     GT3       T    1    2  at_home       no
16     GP   F  18       R     LE3       T    1    1  at_home       no
17     GP   F  17       R     LE3       T    3    1 services       no
18     GP   M  19       R     GT3       T    3    3    other       no
19     GP   F  18       R     GT3       T    2    2  at_home       no
20     GP   F  19       R     GT3       A    3    1 services       no
21     MS   F  18       R     LE3       A    1    4  at_home       no
22     MS   M  18       R     LE3       T    1    1  at_home       no
23     MS   F  17       R     GT3       T    1    2    other       no
24     MS   M  18       R     GT3       T    1    3  at_home       no
25     MS   M  19       R     GT3       T    1    1    other       no
26     MS   M  18       R     GT3       T    4    2    other       no
27     MS   F  18       R     GT3       T    2    2  at_home       no
28     MS   M  21       R     GT3       T    1    1    other       no

**8. Promedio de calificaciones G1, G2, G3 (mostrar primeros 50 estudiantes)**

In [16]:
%%R
data %>%
select(1:9, G1, G2, G3) %>%
mutate(Prom = (G1+G2+G3)/3) %>%
arrange(desc(Prom)) %>%
head(n=50)

   school sex age address famsize Pstatus Medu Fedu     Mjob G1 G2 G3     Prom
1      GP   M  16       U     GT3       T    4    3   health 19 19 20 19.33333
2      GP   M  15       U     LE3       A    4    4  teacher 18 19 19 18.66667
3      GP   M  15       U     LE3       T    4    2  teacher 18 19 19 18.66667
4      MS   F  18       R     LE3       T    4    4    other 19 18 19 18.66667
5      GP   M  15       U     GT3       T    4    4 services 19 18 18 18.33333
6      GP   F  18       U     GT3       T    2    2  at_home 18 18 19 18.33333
7      GP   M  16       R     GT3       T    4    4  teacher 18 18 18 18.00000
8      GP   F  17       U     GT3       T    4    4 services 18 18 18 18.00000
9      GP   M  16       U     GT3       T    2    1    other 18 18 18 18.00000
10     GP   F  17       R     LE3       T    3    1 services 18 18 18 18.00000
11     GP   M  15       U     LE3       A    3    2 services 16 18 19 17.66667
12     GP   F  18       U     GT3       T    4    3 services 17 18 18 17.66667
13     GP   M  20       U     GT3       A    3    2 services 17 18 18 17.66667
14     GP   M  15       U     GT3       A    3    4 services 16 18 18 17.33333
15     GP   M  16       U     GT3       T    3    3 services 16 18 18 17.33333
16     GP   F  17       U     GT3       T    3    2   health 17 17 18 17.33333
17     GP   F  15       U     GT3       T    4    3 services 16 17 18 17.00000
18     GP   M  18       R     LE3       A    3    4    other 17 17 17 17.00000
19     GP   M  15       U     GT3       T    4    4 services 17 16 17 16.66667
20     GP   M  16       U     GT3       T    4    4 services 16 17 17 16.66667
21     GP   F  17       U     GT3       T    2    4 services 16 17 17 16.66667
22     MS   F  18       U     LE3       T    1    1  at_home 18 16 16 16.66667
23     GP   M  15       R     GT3       T    4    3  teacher 17 16 16 16.33333
24     GP   M  15       U     LE3       T    4    3  teacher 15 16 18 16.33333
25     GP   F  16       U     GT3       T    2    3 services 16 16 17 16.33333
26     GP   F  15       R     LE3       T    3    1    other 16 16 16 16.00000
27     GP   M  17       U     GT3       T    4    4 services 17 15 16 16.00000
28     GP   F  16       U     GT3       T    4    3   health 16 16 16 16.00000
29     GP   F  18       U     LE3       T    3    3 services 16 15 17 16.00000
30     GP   F  16       U     GT3       T    4    2 services 15 16 16 15.66667
31     GP   F  15       U     GT3       T    4    4  teacher 16 16 15 15.66667
32     GP   M  16       R     GT3       T    2    2  at_home 17 15 15 15.66667
33     GP   M  18       U     LE3       T    4    4  teacher 16 15 16 15.66667
34     GP   M  18       R     GT3       T    4    3  teacher 16 15 16 15.66667
35     GP   M  15       U     GT3       A    2    2    other 14 16 16 15.33333
36     GP   M  16       U     LE3       T    4    2  teacher 15 15 16 15.33333
37     GP   M  15       U     GT3       T    4    2   health 15 16 15 15.33333
38     GP   M  16       R     GT3       A    4    4    other 15 16 15 15.33333
39     GP   F  16       U     LE3       T    4    3  teacher 16 15 15 15.33333
40     GP   M  16       U     GT3       T    4    4  teacher 15 15 16 15.33333
41     GP   F  15       U     GT3       T    1    2  at_home 16 15 15 15.33333
42     GP   F  17       U     GT3       T    3    2    other 16 15 15 15.33333
43     GP   F  17       U     LE3       T    0    2  at_home 16 15 15 15.33333
44     GP   F  17       U     GT3       T    3    4 services 16 15 15 15.33333
45     GP   M  18       U     LE3       T    3    4 services 16 15 15 15.33333
46     MS   F  17       U     LE3       T    4    4  at_home 16 15 15 15.33333
47     MS   M  17       U     LE3       T    3    1 services 14 16 16 15.33333
48     GP   M  16       U     LE3       T    4    3 services 15 15 15 15.00000
49     GP   M  15       U     LE3       T    2    2 services 15 15 15 15.00000
50     GP   F  16       U     LE3       T    4    4   health 14 15 16 15.00000

**9. Número de alumnos menores de edad y número de alumno mayores de edad**

In [17]:
%%R
data %>%
group_by(age) %>%
count(age) %>%
filter(age >= 18)

# A tibble: 5 × 2
# Groups:   age [5]
    age     n
  <int> <int>
1    18    82
2    19    24
3    20     3
4    21     1
5    22     1

In [18]:
%%R
data %>%
group_by(age) %>%
count(age) %>%
filter(age < 18)

# A tibble: 3 × 2
# Groups:   age [3]
    age     n
  <int> <int>
1    15    82
2    16   104
3    17    98

**10. ¿Que grupo representa un mayor número de relaciones románticas los hombres o las mujeres?**

In [19]:
%%R
data %>%
group_by(sex) %>%
count(romantic) %>%
filter(romantic == "yes")

# A tibble: 2 × 3
# Groups:   sex [2]
  sex   romantic     n
  <chr> <chr>    <int>
1 F     yes         79
2 M     yes         53